.confirmation-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.confirmation-dialog-card {
  width: 300px;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  animation: slideUp 0.2s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.confirmation-dialog-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.confirmation-dialog-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.confirmation-dialog-description {
  font-weight: 100;
  color: rgb(102, 102, 102);
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.confirmation-dialog-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.confirmation-dialog-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.confirmation-dialog-button.primary {
  background-color: #e16789;
  color: white;
}

.confirmation-dialog-button.primary:hover {
  background-color: #d1537a;
}

.confirmation-dialog-button.secondary {
  background-color: #ddd;
  color: rgb(27, 27, 27);
}

.confirmation-dialog-button.secondary:hover {
  background-color: rgb(197, 197, 197);
}

.confirmation-dialog-exit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 4px;
  color: rgb(175, 175, 175);
  transition: color 0.2s ease;
}

.confirmation-dialog-exit:hover {
  color: black;
}

.confirmation-dialog-exit svg {
  width: 20px;
  height: 20px;
}

