.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
  z-index: 10;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-sizing: border-box;
}

